<p id="notice"><%= notice %></p>

<div class ="jumbotron">
  <h2>Yelpdemo is the best way to find reviews on local restaurants.</h2>
  <h3>Explore the favorite diners, pastry shops, and eateries in your community.
  <br>Leave reviews and ratings for your fellow foodies.</h3>
</div>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone %></td>
        <td><%= restaurant.website %></td>
        <td><%= link_to 'Show', restaurant, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>

<%= image_tag "https://00e9e64bac3f03eaa7aa0890d4e999d4b102a1b1450473362c-apidata.googleusercontent.com/download/storage/v1/b/yelpapp/o/uploads%2Ffooter_cityscape.png?qk=AD5uMEvvzMbnONWmW5KfyVE48kwIi-CjOYcKCV4Blh3pMvi0k2zdC3qXeWqsONprxgKeovGoczS6-x2_0Bj5HfDY8cCqEs3SCrGcDJToYyKduR3Szhf_3vGYLxu3PJQ5_hbyz11-HDnwifv9LM4Oj34wyLYFKNC31fxDZvLP0YbRDM6LeQfqhQ__X6dkFZiKZV1C4evHu-ymHgdjRdxF_lUB0nrrTjGyDfBbhVr0YRisJMRZN0KjITfe4582L2BoSRoaptM4hSSIEstRj_A6KoWU6WrfBCwYkMe2cdudKrT9ZC28SVABegrmXHwysCmODKxXr5EXoN8YvcBEv3B9io7BvnSBzMJfUny0sFZJ3ZkvNYD9lzhnly3XZTcmHBwULdr29Yu3o9qO_gqsHYtQyRFfMc8Ma-B49i-50Ih7WPF1L8AhecRMgnkyE2tSxaxbQL2B5Z8H3ANK9_e0O93Bi_6FSwrXvl76XZ5-rXilGy3etNHlyL_iilkts1U4zACLgOYDbGcuHysG-12H04IjLdN8PMH5T-TGPP2wavK56yEYyjP5q03YFGkuqbvaCv8RpE1hRgnMsegCdgnX5kfxB-MzwZtLcia7r8I3TGfcBi3Nji7jviFfbSFwVzeaGAasBKFfkw0qLmwwWharO8Y9L_VovrJx77BwwULAO19qJo4LFok4Y43t8SHyj_7a3a42d_CMDNgGQ-tIM-wKgwdMqdIpSwXWm1I8NlFnilSZHv4bW2WOfx_h5EcfPo96CN_fkEZQUmiUMJElQSzU2QIcICNgwu158-THQP5hffdUJCrJT1G05AelTgg" %>
